::-webkit-input-placeholder {
 color: #b9b9b9;
 font-size: .7rem;   
}
a:link { /* Essentially means a[href], or that the link actually goes somewhere */  
  color: blue;  
}  
a:visited {  
  color: purple;  
}  
a:hover {  
  color: green;  
}  
a:active {  
  color: red;  
}  

@mixin border-none() {
    &:before {
        display: none;
    }
}
@mixin border-t-1px(){
    position: relative;
    &:before {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        background: rgba(7, 17, 27, .1);
        top: 0;
        content: "";
    }
    @media (-webkit-min-device-pixel-radio: 3) and (min-device-pixel-radio: 3) {
        transform: translateY(.5);
    }
    @media (-webkit-min-device-pixel-radio: 1.5) and (min-device-pixel-radio: 1.5) {
        transform: translateY(.7);
    }
}
@mixin border-b-1px(){
    position: relative;
    &:before {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        background: rgba(7, 17, 27, .1);
        bottom: 0;
        content: "";
    }
    @media (-webkit-min-device-pixel-radio: 3) and (min-device-pixel-radio: 3) {
        transform: translateY(.5);
    }
    @media (-webkit-min-device-pixel-radio: 1.5) and (min-device-pixel-radio: 1.5) {
        transform: translateY(.7);
    }
}
@mixin border-l-1px(){
    position: relative;
    &:before {
        position: absolute;
        width: 1px;
        height: 100%;
        left: 0;
        background: rgba(7, 17, 27, .1);
        top: 0;
        content: "";
    }
    @media (-webkit-min-device-pixel-radio: 3) and (min-device-pixel-radio: 3) {
        transform: translateX(.5);
    }
    @media (-webkit-min-device-pixel-radio: 1.5) and (min-device-pixel-radio: 1.5) {
        transform: translateX(.7);
    }
}
@mixin border-r-1px(){
    position: relative;
    &:before {
        position: absolute;
        width: 1px;
        height: 100%;
        right: 0;
        background: rgba(7, 17, 27, .1);
        top: 0;
        content: "";
    }
    @media (-webkit-min-device-pixel-radio: 3) and (min-device-pixel-radio: 3) {
        transform: translateX(.5);
    }
    @media (-webkit-min-device-pixel-radio: 1.5) and (min-device-pixel-radio: 1.5) {
        transform: translateX(.7);
    }
}
body {
    font-family: Helvetica;
}
/*  active颜色 */
.active {
    color: #3cbe51;
}
.fl {
    float: left;
}
.fr {
    float: right
}
input {
    -webkit-appearance:none;
    border: none;
    outline: none;
}
input::hover, input::active,input:focus {
    border: none;
    outline: none;
}
